<form (ngSubmit)="onSubmit()">
  <div class="form-inline">
    <input type="text" class="form-control col-md-4" [(ngModel)]="code" name="code"
      placeholder="Saisissez le code projet à consulter">
    <br><br><button type="submit" class="btn btn-primary">Chercher</button>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Code Projet</th>
      <th scope="col">Nom du Projet</th>
      <th scope="col">Méthode</th>
      <th scope="col">Suivi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{project.code}}</td>
      <td>{{project.name}}</td>
      <td>{{project.method}}</td>
      <td>{{project.followup}}</td>
    </tr>
    <tr>
  </tbody>
</table>

<ul *ngFor="let proc of processes">
  <li *ngFor="let procAct of proc.processActivityDTOList">
    <b>{{procAct.name }} </b>
    <ul>
      <li *ngFor="let artefact of procAct.artifactDTOList">
        {{artefact.name}}
      </li>
    </ul>
    <br>

</ul>

<!-- <p> Documents </p>
<ul *ngFor="let document of project.documents">
  <li>{{document.name}}</li>
</ul>
<p> Revues</p>
<ul *ngFor="let review of project.reviews">
  <li> {{review.name}}</li>
</ul> -->
<!--
<div class="row">
  <div class="col-sm-6">
    <div class="card method">
      <div class="card-body">
        <ul class="list-group-item list-group-item-primary" *ngFor="let proc of processes">
          <h3>Process name : {{ proc.displayName }}</h3>
          Follow up : {{ proc.followUP }} <br>
          Process Type : {{ proc.processType }} <br>
          <li class="list-group-item list-group-item-secondary" *ngFor="let procAct of proc.processActivityDTOList">
            <h4> Process Activity : {{ procAct.name }} </h4>
            <h5> Liste des artifacts : </h5>
            <ul>
              <li class="list-group-item list-group-item-success" *ngFor="let artefact of procAct.artifactDTOList">
                Name = {{ artefact.name }} , Tag = {{ artefact.tag }}
                <br>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
